.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Android_Location_V1_3_2.xml
.idea/libraries/Lotuseed_Android_SDK_1_1_2_1.xml
.idea/libraries/MiPush_SDK_Client_2_2_20.xml
.idea/libraries/alipaySdk_20151112.xml
.idea/libraries/android_async_http_1_4_3.xml
.idea/libraries/appsearchlib.xml
.idea/libraries/commons_codec_1_5.xml
.idea/libraries/glide_3_6_0.xml
.idea/libraries/gson_2_2_2.xml
.idea/libraries/jsbridge_1_0_4.xml
.idea/libraries/jsontool.xml
.idea/libraries/libammsdk.xml
.idea/libraries/library_2_4_0.xml
.idea/libraries/mta_sdk_1_0_0.xml
.idea/libraries/open_sdk.xml
ecook/src/main/res/drawable/tab_menu_talk.xml
local.properties
.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.idea/libraries/picasso_2_5_2.xml
.idea/libraries/pinyin4j_2_5_0.xml
.idea/libraries/recyclerview_v7_22_2_1.xml
.idea/libraries/support_annotations_22_2_1.xml
.idea/libraries/support_v4_22_2_1.xml
.idea/libraries/umeng_analytic_sdk_3_2_2.xml
.idea/libraries/universal_image_loader_1_8_6.xml
.idea/libraries/weiboSDKCore_3_1_2.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
Ecook.iml
build/intermediates/dex-cache/cache.xml
build/intermediates/gradle_project_sync_data.bin
ecook/ecook.iml
/build
/.idea
/.gradle
EcookAndroid.iml
livevideo/livevideo.iml
GalleryFinal/GalleryFinal.iml
*.iml
push/build
